.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
    width: 1100px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #edefee;
}

.modal_inp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal_inp ::-webkit-scrollbar {
    border-radius: 8px;
}

.modal_inp ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: silver;
}

.modal_inp textarea {
    overflow: scroll;
    overflow-y:auto;
    overflow-x:hidden;
    resize: none;
    outline: none;
    margin: 30px;
    font-size: 20px;
    font-family: Times New Roman, Times, serif;
    font-weight: bold;
    font-style: oblique;
    border: 1px solid black;
    border-radius: 8px;
    height: 200px;
    width: 1000px;
    scrollbar-width: none;
}

.modal_btn {
    margin: 30px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 35px;
}